/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fcf2f4;  /* Changed to #fcf2f4 */
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

h2.section-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-top: 40px;  /* Increased margin-top to add space between navbar and title */
  margin-bottom: 30px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d10d34;  /* Changed to #d10d34 */
  padding: 20px 30px;  /* Increased padding for wider navbar */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}

.mode-toggle-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ff4081;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mode-toggle-
